# Ronin Ecosystem Tracker

In [1]:
from dune_client.client import DuneClient
import os
import requests
import joblib
import pandas as pd
from dotenv import load_dotenv
load_dotenv()


dune_api_key = os.getenv("DEFI_JOSH_DUNE_QUERY_API_KEY")
coingecko_api_key = os.getenv("COINGECKO_PRO_API_KEY")

### _Extracting key metrics from CoinGecko Pro API response for Ronin (RON)_

In [2]:
### _Extracting key metrics from CoinGecko Pro API response for Ronin (RON)_

headers = {
    "x-cg-pro-api-key": coingecko_api_key
}

url = "https://pro-api.coingecko.com/api/v3/coins/ronin"

try:
    response = requests.get(url, headers=headers, timeout=10)
    response.raise_for_status()
    ron_data = response.json()
except requests.exceptions.RequestException as e:
    print(f"Error fetching data from CoinGecko Pro API: {e}")
    ron_data = {}

# Extract and print all relevant metrics
market_data = ron_data.get("market_data", {})

print("Name:", ron_data.get("name"))
print("Symbol:", ron_data.get("symbol"))
print("Contract Address:", ron_data.get("contract_address"))
print("Homepage:", ron_data.get("links", {}).get("homepage", [None])[0])
print("Logo URL:", ron_data.get("image", {}).get("large"))

print("RON Price (USD):", market_data.get("current_price", {}).get("usd"))
print("Market Cap (USD):", market_data.get("market_cap", {}).get("usd"))
print("24h Volume (USD):", market_data.get("total_volume", {}).get("usd"))
print("Circulating Supply:", market_data.get("circulating_supply"))
print("Total Supply:", market_data.get("total_supply"))
print("Max Supply:", market_data.get("max_supply"))
print("Fully Diluted Valuation (USD):", market_data.get("fully_diluted_valuation", {}).get("usd"))
print("Total Value Locked (USD):", market_data.get("total_value_locked", {}).get("usd"))
print("Market Cap to TVL Ratio:", market_data.get("mcap_to_tvl_ratio"))
print("Price Change % (24h):", market_data.get("price_change_percentage_24h"))
print("Price Change % (7d):", market_data.get("price_change_percentage_7d"))

# Print tickers (exchange info)
tickers = ron_data.get("tickers", [])
print("Number of Exchanges:", len(tickers))
if tickers:
    print("Sample Exchange:", tickers[0].get("market", {}).get("name"), "-", tickers[0].get("base"), "/", tickers[0].get("target"))

Name: Ronin
Symbol: ron
Contract Address: 0xe514d9deb7966c8be0ca922de8a064264ea6bcd4
Homepage: https://roninchain.com
Logo URL: https://coin-images.coingecko.com/coins/images/20009/large/photo_2024-04-06_22-52-24.jpg?1712415367
RON Price (USD): 0.473248
Market Cap (USD): 327376491
24h Volume (USD): 7032976
Circulating Supply: 693121119.9637812
Total Supply: 1000000000.0
Max Supply: 1000000000.0
Fully Diluted Valuation (USD): 472322198
Total Value Locked (USD): 8612657
Market Cap to TVL Ratio: 38.01
Price Change % (24h): 1.12816
Price Change % (7d): -2.41776
Number of Exchanges: 100
Sample Exchange: Binance - RONIN / USDT

### _Fetching data for Top Game Contracts Overall Activity from https://dune.com/queries/5779698_

In [3]:
### _Fetching data for Top Game Contracts Overall Activity from https://dune.com/queries/5779698_

dune = DuneClient(dune_api_key)
query_result = dune.get_latest_result(5779698)

rows = query_result.result.rows

data1 = pd.DataFrame(rows)

joblib.dump(data1, "../data/games_overall_activity.joblib")

['../data/games_overall_activity.joblib']

In [4]:
overall_df = joblib.load("../data/games_overall_activity.joblib")

overall_df

,avg_gas_price_in_gwei,game_project,total_volume_ron_sent_to_game,transaction_count,unique_players
0,24.974572,Pixels,167.028604,235230966,10856341
1,8.195037,Axie Infinity,168551.711121,197136539,8909835
2,18.454375,Lumiterra,1.860900,40852354,2372247
3,19.924091,Wild Forest,0.010100,24335428,889031
4,20.403348,The Machines Arena,0.000000,31870789,385844
5,19.966390,Apeiron,0.000000,33977197,305397
6,19.563863,Ragnarok: Monster World,58.259846,3282263,222821
7,20.000000,Fableborne,0.000000,7062393,110278
8,20.427214,Kongz,255195.704884,1121246,97199
9,20.900259,Pixel HeroZ,3223.715731,1449362,52446
10,21.548773,Fishing Frenzy,1.107159,1603529,44961
11,23.451573,Ronkeverse,192.000000,29580,20336
12,20.533664,Moki Genesis,0.000000,29471,15069
13,23.497037,Sabong Saga,50.400000,52604,10344
14,25.336607,Kaidro,0.000000,9449831,6248
15,23.882996,Cambria,480727.959133,227303,3979
16,25.611397,Mark of the Zeal,150.000000,3448,2210
17,24.424159,KttyWorld,29197.200000,120971,2127
18,25.415318,Planet Horse,75.000000,25558,2034
19,21.088630,Kojin Genesis,0.000000,774,341

### _Fetching data for Top Game Contracts Daily Activity from https://dune.com/queries/5781579_

In [5]:
### _Fetching data for Top Game Contracts Daily Activity from https://dune.com/queries/5781579_

dune2 = DuneClient(dune_api_key)
query_result2 = dune2.get_latest_result(5781579)

rows = query_result2.result.rows

data2 = pd.DataFrame(rows)

joblib.dump(data2, "../data/games_daily_activity.joblib")

['../data/games_daily_activity.joblib']

In [6]:
daily_df = joblib.load("../data/games_daily_activity.joblib")

daily_df

,avg_gas_price_in_gwei,day,game_project,total_volume_ron_sent_to_game,transaction_count,unique_players
0,21.000184,2025-09-29 00:00:00.000 UTC,The Machines Arena,0.0,69403,69398
1,21.500000,2025-09-29 00:00:00.000 UTC,Mark of the Zeal,0.0,2,2
2,21.263136,2025-09-29 00:00:00.000 UTC,Ragnarok: Monster World,0.0,97,10
3,21.655254,2025-09-29 00:00:00.000 UTC,Sabong Saga,0.0,280,80
4,21.711190,2025-09-29 00:00:00.000 UTC,Lumiterra,0.0,14897,14881
...,...,...,...,...,...,...
8090,0.592051,2021-05-02 00:00:00.000 UTC,Axie Infinity,0.0,9511,545
8091,0.559360,2021-05-01 00:00:00.000 UTC,Axie Infinity,0.0,9931,538
8092,0.456713,2021-04-30 00:00:00.000 UTC,Axie Infinity,0.0,11909,690
8093,0.557256,2021-04-29 00:00:00.000 UTC,Axie Infinity,0.0,11824,510
8094,0.654536,2021-04-28 00:00:00.000 UTC,Axie Infinity,0.0,3682,71

### _Fetching data for Daily Transactions, Active Users, RON Volume & Gas fees (GWEI) Metrics on Ronin Chain from https://dune.com/queries/5779439_

In [34]:
### _Fetching data for Daily Ronin Transactions, Active users/wallets, RON Volume and Gas fees (GWEI) from https://dune.com/queries/5779439_

dune3 = DuneClient(dune_api_key)
query_result3 = dune3.get_latest_result(5779439)

rows = query_result3.result.rows

data3 = pd.DataFrame(rows)

joblib.dump(data3, "../data/ronin_daily_activity.joblib")

2025-09-29 10:34:46,911 ERROR dune_client.models Can't build ResultsResponse from {'error': 'This api request would exceed your configured datapoint limit per request. Please visit your subscription settings on dune.com and adjust your limits to perform this request.'} due to KeyError: 'execution_id'

DuneError: Can't build ResultsResponse from {'error': 'This api request would exceed your configured datapoint limit per request. Please visit your subscription settings on dune.com and adjust your limits to perform this request.'}

In [11]:
ronin_daily_df = joblib.load("../data/ronin_daily_activity.joblib")

ronin_daily_df

,active_wallets,avg_gas_price_in_gwei,daily_transactions,day
0,268701,21.025927,571562,2025-09-24 00:00:00.000 UTC
1,322893,21.027545,678975,2025-09-23 00:00:00.000 UTC
2,262923,23.954680,620451,2025-09-22 00:00:00.000 UTC
3,297419,28.215287,649393,2025-09-21 00:00:00.000 UTC
4,278990,20.698995,603143,2025-09-20 00:00:00.000 UTC
...,...,...,...,...
1697,2,1.000000,2,2021-01-29 00:00:00.000 UTC
1698,1,1.000000,4,2021-01-28 00:00:00.000 UTC
1699,2,0.005634,355,2021-01-27 00:00:00.000 UTC
1700,5,0.000000,12,2021-01-26 00:00:00.000 UTC
1701,2,0.090909,11,2021-01-25 00:00:00.000 UTC

### _Fetching data for Ronin User/Gamer Weekly Activation and Retention for each project/game from https://dune.com/queries/5783320_

In [12]:
### _Fetching data for Ronin User/Gamer Weekly Activation and Retention for each project/game from https://dune.com/queries/5783320_

dune4 = DuneClient(dune_api_key)
query_result4 = dune4.get_latest_result(5783320)

rows = query_result4.result.rows

data4 = pd.DataFrame(rows)

joblib.dump(data4, "../data/ronin_users_weekly_activation_and_retention_for_each_project_or_game.joblib")

['../data/ronin_users_weekly_activation_and_retention_for_each_project_or_game.joblib']

In [13]:
activation_and_retention_df = joblib.load("../data/ronin_users_weekly_activation_and_retention_for_each_project_or_game.joblib")

activation_and_retention_df

,% retention 1 week later,% retention 10 weeks later,% retention 11 weeks later,% retention 12 weeks later,% retention 2 weeks later,% retention 3 weeks later,% retention 4 weeks later,% retention 5 weeks later,% retention 6 weeks later,% retention 7 weeks later,% retention 8 weeks later,% retention 9 weeks later,cohort week,game_project,new users
0,40.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-06-30 00:00:00.000 UTC,Apeiron,5
1,23.076923,15.384615,15.384615,NaN,23.076923,30.769231,23.076923,23.076923,23.076923,23.076923,23.076923,15.384615,2025-07-07 00:00:00.000 UTC,Apeiron,13
2,25.000000,NaN,NaN,NaN,25.000000,25.000000,12.500000,12.500000,12.500000,NaN,NaN,NaN,2025-07-14 00:00:00.000 UTC,Apeiron,8
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-21 00:00:00.000 UTC,Apeiron,3
4,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-28 00:00:00.000 UTC,Apeiron,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,59.375000,NaN,NaN,NaN,56.250000,50.000000,34.375000,NaN,NaN,NaN,NaN,NaN,2025-08-25 00:00:00.000 UTC,Wild Forest,32
269,63.414634,NaN,NaN,NaN,51.219512,48.780488,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-01 00:00:00.000 UTC,Wild Forest,41
270,63.888889,NaN,NaN,NaN,55.555556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-08 00:00:00.000 UTC,Wild Forest,36
271,38.095238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-15 00:00:00.000 UTC,Wild Forest,42
272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-22 00:00:00.000 UTC,Wild Forest,12

### _Fetching data for RON/WRON current holders from https://dune.com/queries/5783623_

In [14]:
### _Fetching data for RON/WRON current holders from https://dune.com/queries/5783623_

dune5 = DuneClient(dune_api_key)
query_result5 = dune5.get_latest_result(5783623)

rows = query_result5.result.rows

data5 = pd.DataFrame(rows)

joblib.dump(data5, "../data/ron_current_holders.joblib")

['../data/ron_current_holders.joblib']

In [15]:
ron_current_holders_df = joblib.load("../data/ron_current_holders.joblib")

ron_current_holders_df

       current $RON balance                                      wallet
0              1.228957e+08  0x7cf0fb64d72b733695d77d197c664e90d07cf45a
1              2.872437e+07  0x7c645c35ab772be52a474b1e08414d55e8ea56d5
2              2.759497e+07  0xc05afc8c9353c1dd5f872eccfacd60fd5a2a9ac7
3              1.320773e+07  0xcad9e7aa2c3ef07bad0a7b69f97d059d8f36edd2
4              1.189575e+07  0x90f31f1907a4d1443a6aacdc91ac2312f91bafa7
...                     ...                                         ...
16909          1.000000e-18  0x633c3eaa0bf7fc930c1500358ea554478bd285ca
16910          1.000000e-18  0x6ad6cd152a724530f5de61618be6a74b328d3969
16911          1.000000e-18  0x6a3bb43a893bf73453640b5da17e42f0e12ef01a
16912          1.000000e-18  0x02b4ed34428d732988e522355d6f7e21f0fe9bc2
16913          1.000000e-18  0xb1d50cf28e4bbcc5e31ddef10568382fc6828439

[16914 rows x 2 columns]

### _Fetching data for RON/WRON current holders (segmented) from https://dune.com/queries/5785491_

In [16]:
### _Fetching data for RON/WRON current holders (segmented) from https://dune.com/queries/5785491_

dune6 = DuneClient(dune_api_key)
query_result6 = dune6.get_latest_result(5785491)

rows = query_result6.result.rows

data6 = pd.DataFrame(rows)

joblib.dump(data6, "../data/ron_current_segmented_holders.joblib")

['../data/ron_current_segmented_holders.joblib']

In [17]:
ron_current_segmented_holders_df = joblib.load("../data/ron_current_segmented_holders.joblib")

ron_current_segmented_holders_df

   holders                       tier
0       17         🐋 Whale (1M+ $RON)
1       25     🦈 Shark (100k–1M $RON)
2      136  🐬 Dolphin (10k–100k $RON)
3      718       🐟 Fish (1k–10k $RON)
4     3369       🦀 Crab (100–1k $RON)
5    12649       🦐 Shrimp (<100 $RON)

In [18]:
ron_current_segmented_holders_df['holders'].sum()

np.int64(16914)

### _Fetching data for WRON Active Trade pairs on Katana DEX - Ronin (metrics overtime) from https://dune.com/queries/5783967_

In [19]:
### _Fetching data for WRON Active Trade pairs on Katana DEX - Ronin (metrics overtime) from https://dune.com/queries/5783967_

dune7 = DuneClient(dune_api_key)
query_result7 = dune7.get_latest_result(5783967)

rows = query_result7.result.rows

data7 = pd.DataFrame(rows)

joblib.dump(data7, "../data/wron_active_trade_pairs_on_Katana.joblib")

['../data/wron_active_trade_pairs_on_Katana.joblib']

In [20]:
wron_active_trade_pairs_df = joblib.load("../data/wron_active_trade_pairs_on_Katana.joblib")

wron_active_trade_pairs_df

,Active Pairs,Active Pairs Link,Active Traders,Total Trade Volume (USD),Total Transactions,Volume to trader ratio,Volume to transaction ratio
0,WETH-WRON,<a href=https://app.roninchain.com/address/0x2...,683846,2.253011e+09,5039857,3.294617e+03,4.470386e+02
1,USDC-WRON,<a href=https://app.roninchain.com/address/0x4...,302903,1.498360e+09,3102700,4.946668e+03,4.829215e+02
2,AXS-WRON,<a href=https://app.roninchain.com/address/0x3...,209005,7.161529e+08,2327643,3.426487e+03,3.076730e+02
3,SLP-WRON,<a href=https://app.roninchain.com/address/0x8...,182069,3.897702e+08,1343505,2.140783e+03,2.901144e+02
4,PIXEL-WRON,<a href=https://app.roninchain.com/address/0xb...,275064,1.689291e+08,1147706,6.141449e+02,1.471885e+02
...,...,...,...,...,...,...,...
659,CaptainRON-WRON,<a href=https://app.roninchain.com/address/0x4...,1,9.249120e-10,1,9.249120e-10,9.249120e-10
660,MOCHI-WRON,<a href=https://app.roninchain.com/address/0x4...,1,9.249120e-10,1,9.249120e-10,9.249120e-10
661,SBTC-WRON,<a href=https://app.roninchain.com/address/0x4...,1,4.376106e-18,1,4.376106e-18,4.376106e-18
662,ONIGIRI-WRON,<a href=https://app.roninchain.com/address/0xc...,1,9.471680e-19,2,9.471680e-19,4.735840e-19
663,LWTS-WRON,<a href=https://app.roninchain.com/address/0xb...,1,9.273050e-19,1,9.273050e-19,9.273050e-19

### _Fetching data for Top WRON Katana DEX Traders (Whale Tracking - whales trading above $10,000) in the last 30 days from https://dune.com/queries/5784215_

In [21]:
### _Fetching data for Top WRON Katana DEX Traders (Whale Tracking - whales trading above $10,000) in the last 30 days from https://dune.com/queries/5784215_

dune8 = DuneClient(dune_api_key)
query_result8 = dune8.get_latest_result(5784215)

rows = query_result8.result.rows

data8 = pd.DataFrame(rows)

joblib.dump(data8, "../data/wron_whale_tracking_on_Katana.joblib")

['../data/wron_whale_tracking_on_Katana.joblib']

In [22]:
wron_whale_tracking_on_Katana_df = joblib.load("../data/wron_whale_tracking_on_Katana.joblib")

wron_whale_tracking_on_Katana_df

,avg trade size (USD),largest trade volume (USD),primary activity,total trade volume (USD),total trades,"trader (whale) who traded over $10,000 in the last 30 days"
0,813.522275,13458.394109,WRON Seller,3.206091e+06,3451,0x920c267ed50fd5e5e79d68130e39bceb2541a994
1,762.708537,45211.144020,WRON Buyer,3.053122e+06,3134,0x920c267ed50fd5e5e79d68130e39bceb2541a994
2,20092.049291,54298.400000,WRON Seller,2.732519e+06,127,0x68de5555667119f470ef23625fc2bfd789c3036b
3,39322.820459,203521.289790,WRON Seller,2.516661e+06,63,0x018cc4af7a9442aae70f64bd6f44941c7718b4f7
4,1699.524864,4032.332930,WRON Seller,2.049627e+06,1203,0x4d7865cc31411ab4e411d90557ed8ae501f6d7aa
...,...,...,...,...,...,...
261,16.914312,791.061765,WRON Buyer,1.016550e+04,601,0x43a43d7aaf2c8a78e40607d8ff2606a7dcd0fe18
262,1451.084801,6238.955650,WRON Buyer,1.015759e+04,6,0xca72babbca6b21392f6bae1675cc4d4d9b73d60e
263,163.172103,1125.966903,WRON Seller,1.011667e+04,38,0x33253882a1ab663c383242f209df6ad761591209
264,1440.142912,4617.058895,WRON Buyer,1.008100e+04,5,0xe0a20b13952692bd13924fd9d0048c3b20e13262
265,1668.395291,3359.917766,WRON Seller,1.001037e+04,3,0xfc8292e5f0a271c2cb4596b3dff8c5b5c9f6b72a

### _Fetching data for Daily WRON Trading Volume & Liquidity Flow (with paired token details + share % on Katana DEX) from https://dune.com/queries/5784210_

In [23]:
### _Fetching data for Daily WRON Trading Volume & Liquidity Flow (with paired token details + share % on Katana DEX) from https://dune.com/queries/5784210_

dune9 = DuneClient(dune_api_key)
query_result9 = dune9.get_latest_result(5784210)

rows = query_result9.result.rows

data9 = pd.DataFrame(rows)

joblib.dump(data9, "../data/WRON_Trading_Volume_&_Liquidity_Flow_on_Katana.joblib")

['../data/WRON_Trading_Volume_&_Liquidity_Flow_on_Katana.joblib']

In [24]:
WRON_Trading_Volume_Liquidity_Flow_on_Katana_df = joblib.load("../data/WRON_Trading_Volume_&_Liquidity_Flow_on_Katana.joblib")

WRON_Trading_Volume_Liquidity_Flow_on_Katana_df

,Counterparty Token Symbol,Counterparty Token Volume,Daily % Share of WRON Volume (by Counterparty Token),Number of Trades,Number of Unique Traders,Trade Day,WRON Trade Direction,WRON Volume (Tokens),WRON Volume (USD)
0,USDC,2.861840e+05,5.605205e+01,1238,537,2025-09-24,WRON Bought,590138.017591,285253.821396
1,WETH,4.169178e+01,3.422993e+01,500,361,2025-09-24,WRON Bought,359188.343842,174199.105752
2,AXS,6.299608e+03,2.747302e+00,1134,831,2025-09-24,WRON Bought,28861.225411,13981.263376
3,SLP,3.105685e+06,1.013975e+00,617,484,2025-09-24,WRON Bought,10636.550519,5160.209488
4,PIXEL,1.716000e+05,9.543427e-01,141,120,2025-09-24,WRON Bought,10024.863886,4856.734003
...,...,...,...,...,...,...,...,...,...
12313,🍙,1.257863e+05,2.259159e-05,3,2,2025-06-26,WRON Sold,0.439719,0.190936
12314,TAMA,8.150892e+04,1.880892e-05,1,1,2025-06-26,WRON Sold,0.354750,0.158966
12315,tamatest,1.494838e+04,1.675184e-05,1,1,2025-06-26,WRON Sold,0.320000,0.141580
12316,💎🙌,4.193589e+02,8.493146e-07,1,1,2025-06-26,WRON Sold,0.016579,0.007178
12317,tester,1.007369e-01,1.930632e-09,1,1,2025-06-26,WRON Sold,0.000036,0.000016

### _Fetching data for WRON Trading Activity by Hour of Day on Katana DEX from https://dune.com/queries/5785066_

In [25]:
### _Fetching data for WRON Trading Activity by Hour of Day on Katana DEX from https://dune.com/queries/5785066_

dune10 = DuneClient(dune_api_key)
query_result10 = dune10.get_latest_result(5785066)

rows = query_result10.result.rows

data10 = pd.DataFrame(rows)

joblib.dump(data10, "../data/WRON_Trading_by_hour_of_day_on_Katana.joblib")

['../data/WRON_Trading_by_hour_of_day_on_Katana.joblib']

In [26]:
WRON_Trading_by_hour_of_day_on_Katana_df = joblib.load("../data/WRON_Trading_by_hour_of_day_on_Katana.joblib")

WRON_Trading_by_hour_of_day_on_Katana_df

,avg trade size (USD),direction,hour of the day (UTC),trade volume (USD),trades count,unique traders
0,140.581267,WRON Bought,2025-08-25 00:00:00.000 UTC,56232.506926,363,207
1,218.211139,WRON Sold,2025-08-25 00:00:00.000 UTC,126780.671913,511,320
2,114.559813,WRON Bought,2025-08-25 01:00:00.000 UTC,45022.006320,325,213
3,78.571051,WRON Sold,2025-08-25 01:00:00.000 UTC,32371.273212,369,240
4,375.686618,WRON Bought,2025-08-25 02:00:00.000 UTC,177324.083747,432,225
...,...,...,...,...,...,...
1023,92.497515,WRON Sold,2025-09-24 16:00:00.000 UTC,39403.941570,398,292
1024,26.349295,WRON Bought,2025-09-24 17:00:00.000 UTC,7588.597089,223,151
1025,30.481291,WRON Sold,2025-09-24 17:00:00.000 UTC,15057.757815,424,280
1026,20.344024,WRON Bought,2025-09-24 18:00:00.000 UTC,549.288644,25,22
1027,7.798765,WRON Sold,2025-09-24 18:00:00.000 UTC,421.133324,51,46

### _Fetching data for weekly WRON Trade Volume & User Segmentation on Katana DEX from https://dune.com/queries/5785149_

In [27]:
### _Fetching data for weekly WRON Trade Volume & User Segmentation on Katana DEX from https://dune.com/queries/5785149_

dune11 = DuneClient(dune_api_key)
query_result11 = dune11.get_latest_result(5785149)

rows = query_result11.result.rows

data11 = pd.DataFrame(rows)

joblib.dump(data11, "../data/WRON_weekly_trade_volume_and_user_segmentation_on_Katana.joblib")

['../data/WRON_weekly_trade_volume_and_user_segmentation_on_Katana.joblib']

In [28]:
WRON_weekly_trade_volume_and_user_segmentation_on_Katana_df = joblib.load("../data/WRON_weekly_trade_volume_and_user_segmentation_on_Katana.joblib")

WRON_weekly_trade_volume_and_user_segmentation_on_Katana_df

,Amount Category,USD Volume,Weekly active users,trade week
0,Small trades,3.537389e+05,2671,2025-09-22 00:00:00.000 UTC
1,Micro trades,8.664571e+04,10841,2025-09-22 00:00:00.000 UTC
2,High value trades,2.024856e+06,34,2025-09-22 00:00:00.000 UTC
3,Medium value trades,5.427587e+06,740,2025-09-22 00:00:00.000 UTC
4,Hyper value trades,1.023209e+06,473,2025-09-22 00:00:00.000 UTC
...,...,...,...,...
1008,High value trades,1.124662e+08,2866,2021-11-01 00:00:00.000 UTC
1009,Micro trades,1.145293e+05,17921,2021-11-01 00:00:00.000 UTC
1010,Hyper value trades,2.597501e+08,294,2021-11-01 00:00:00.000 UTC
1011,Medium value trades,1.233201e+08,102862,2021-11-01 00:00:00.000 UTC
1012,Small trades,4.554922e+06,56457,2021-11-01 00:00:00.000 UTC

### _Fetching data for Nft Collections on Sky Mavis from https://dune.com/queries/5792313_

In [ ]:
### _Fetching data for Nft Collections on Sky Mavis from https://dune.com/queries/5792313_

dune12 = DuneClient(dune_api_key)
query_result12 = dune12.get_latest_result(5792313)

rows = query_result12.result.rows

data12 = pd.DataFrame(rows)

joblib.dump(data12, "../data/nft_collections_on_sky_mavis.joblib")

['../data/nft_collections_on_sky_mavis.joblib']

In [30]:
nft_collections_on_sky_mavis = joblib.load("../data/nft_collections_on_sky_mavis.joblib")

nft_collections_on_sky_mavis

,floor_ron,floor_usd,holders,nft_contract_address,platform_ron,platform_usd,ronin_ron,ronin_usd,royalty_ron,royalty_usd,sales,token_standard,volume_ron,volume_usd
0,0,821.113030,1466,0xf083289535052e8449d69e6dc41c0ae064d8e3f6,0,50871.524348,0,12717.881087,0,76307.286522,1104,erc721,0,2.543576e+06
1,0,119.243250,617,0xc5f5d11f9d08b4408e6b11830d5f91e46e59a11a,0,241.857368,0,60.464342,0,604.643419,94,erc721,0,1.209287e+04
2,0,16.326340,909,0x79c691a5d6cc37ac727d8f9dadca64f8ab4ec467,0,4761.796565,0,1190.449141,0,11904.491412,2947,erc721,0,2.380898e+05
3,0,91.023739,2892,0x47b5a7c2e4f07772696bbf8c8c32fe2b9eabd550,0,49847.201323,0,12461.800331,0,124618.003306,12540,erc721,0,2.492360e+06
4,0,0.549074,937,0x1ff0ec95560c3bf3bf01d5071ac9140819be429a,0,707.889407,0,176.972590,0,697.096689,6746,erc721,0,3.539452e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,0,0.608026,1729,0x02286d77425ae3287335ff28b264109225ed6991,0,12804.700573,0,3201.175143,0,32011.751434,9970,erc1155,0,6.402350e+05
206,0,12.686826,364,0x124bd2d70e4efc7e3fcffbb85a9aa4492a0de067,0,970.427497,0,242.606874,0,3471.977258,835,erc1155,0,4.852137e+04
207,0,0.751601,59380,0x0e268edc8750d50c440d715c935eba2e7c6ae775,0,5163.804027,0,1290.951007,0,19364.265101,24262,erc1155,0,2.581902e+05
208,0,0.002983,494,0xe3a334d6b7681d0151b81964caf6353905e24b1b,0,38.810354,0,9.702588,0,145.538827,397,erc1155,0,1.940518e+03
209,0,0.429208,2741,0x27bc94fb5232819c83786412b90e9c22e5428fec,0,1160.111343,0,290.027836,0,2900.278358,1963,erc1155,0,5.800557e+04

In [31]:
nft_collections_on_sky_mavis.rename(columns={'floor_ron': 'floor price (RON)', 
                                             'floor_usd': 'floor price (USD)', 
                                             'platform_ron': 'generated platform fees (RON)', 
                                             'platform_usd': 'generated platform fees (USD)',
                                             'volume_ron': 'sales volume (RON)',
                                             'volume_usd': 'sales volume (USD)',
                                             'royalties_ron': 'creator royalties (RON)',
                                             'royalties_usd': 'creator royalties (USD)',
                                             'ronin_ron': 'generated Ronin fees (RON)', 
                                             'ronin_usd': 'generated Ronin fees (USD)',
                                             'nft_contract_address': 'nft contract address',
                                             'token_standard': 'token standard'}, 
    inplace=True)

In [32]:
nft_collections_on_sky_mavis

,floor price (RON),floor price (USD),holders,nft contract address,generated platform fees (RON),generated platform fees (USD),generated Ronin fees (RON),generated Ronin fees (USD),royalty_ron,royalty_usd,sales,token standard,sales volume (RON),sales volume (USD)
0,0,821.113030,1466,0xf083289535052e8449d69e6dc41c0ae064d8e3f6,0,50871.524348,0,12717.881087,0,76307.286522,1104,erc721,0,2.543576e+06
1,0,119.243250,617,0xc5f5d11f9d08b4408e6b11830d5f91e46e59a11a,0,241.857368,0,60.464342,0,604.643419,94,erc721,0,1.209287e+04
2,0,16.326340,909,0x79c691a5d6cc37ac727d8f9dadca64f8ab4ec467,0,4761.796565,0,1190.449141,0,11904.491412,2947,erc721,0,2.380898e+05
3,0,91.023739,2892,0x47b5a7c2e4f07772696bbf8c8c32fe2b9eabd550,0,49847.201323,0,12461.800331,0,124618.003306,12540,erc721,0,2.492360e+06
4,0,0.549074,937,0x1ff0ec95560c3bf3bf01d5071ac9140819be429a,0,707.889407,0,176.972590,0,697.096689,6746,erc721,0,3.539452e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,0,0.608026,1729,0x02286d77425ae3287335ff28b264109225ed6991,0,12804.700573,0,3201.175143,0,32011.751434,9970,erc1155,0,6.402350e+05
206,0,12.686826,364,0x124bd2d70e4efc7e3fcffbb85a9aa4492a0de067,0,970.427497,0,242.606874,0,3471.977258,835,erc1155,0,4.852137e+04
207,0,0.751601,59380,0x0e268edc8750d50c440d715c935eba2e7c6ae775,0,5163.804027,0,1290.951007,0,19364.265101,24262,erc1155,0,2.581902e+05
208,0,0.002983,494,0xe3a334d6b7681d0151b81964caf6353905e24b1b,0,38.810354,0,9.702588,0,145.538827,397,erc1155,0,1.940518e+03
209,0,0.429208,2741,0x27bc94fb5232819c83786412b90e9c22e5428fec,0,1160.111343,0,290.027836,0,2900.278358,1963,erc1155,0,5.800557e+04

In [33]:
joblib.dump(nft_collections_on_sky_mavis, "../data/cleaned_nft_collections_on_sky_mavis.joblib")

['../data/cleaned_nft_collections_on_sky_mavis.joblib']