# Ronin Ecosystem Tracker

In [9]:
from dune_client.client import DuneClient
import os
import requests
import joblib
import pandas as pd
from dotenv import load_dotenv
load_dotenv()


dune_api_key = os.getenv("DEFI_JOSH_DUNE_QUERY_API_KEY")
coingecko_api_key = os.getenv("COINGECKO_PRO_API_KEY")

### _Extracting key metrics from CoinGecko Pro API response for Ronin (RON)_

In [10]:
### _Extracting key metrics from CoinGecko Pro API response for Ronin (RON)_

headers = {
    "x-cg-pro-api-key": coingecko_api_key
}

url = "https://pro-api.coingecko.com/api/v3/coins/ronin"

try:
    response = requests.get(url, headers=headers, timeout=10)
    response.raise_for_status()
    ron_data = response.json()
except requests.exceptions.RequestException as e:
    print(f"Error fetching data from CoinGecko Pro API: {e}")
    ron_data = {}

# Extract and print all relevant metrics
market_data = ron_data.get("market_data", {})

print("Name:", ron_data.get("name"))
print("Symbol:", ron_data.get("symbol"))
print("Contract Address:", ron_data.get("contract_address"))
print("Homepage:", ron_data.get("links", {}).get("homepage", [None])[0])
print("Logo URL:", ron_data.get("image", {}).get("large"))

print("RON Price (USD):", market_data.get("current_price", {}).get("usd"))
print("Market Cap (USD):", market_data.get("market_cap", {}).get("usd"))
print("24h Volume (USD):", market_data.get("total_volume", {}).get("usd"))
print("Circulating Supply:", market_data.get("circulating_supply"))
print("Total Supply:", market_data.get("total_supply"))
print("Max Supply:", market_data.get("max_supply"))
print("Fully Diluted Valuation (USD):", market_data.get("fully_diluted_valuation", {}).get("usd"))
print("Total Value Locked (USD):", market_data.get("total_value_locked", {}).get("usd"))
print("Market Cap to TVL Ratio:", market_data.get("mcap_to_tvl_ratio"))
print("Price Change % (24h):", market_data.get("price_change_percentage_24h"))
print("Price Change % (7d):", market_data.get("price_change_percentage_7d"))

# Print tickers (exchange info)
tickers = ron_data.get("tickers", [])
print("Number of Exchanges:", len(tickers))
if tickers:
    print("Sample Exchange:", tickers[0].get("market", {}).get("name"), "-", tickers[0].get("base"), "/", tickers[0].get("target"))

Name: Ronin
Symbol: ron
Contract Address: 0xe514d9deb7966c8be0ca922de8a064264ea6bcd4
Homepage: https://roninchain.com
Logo URL: https://coin-images.coingecko.com/coins/images/20009/large/photo_2024-04-06_22-52-24.jpg?1712415367
RON Price (USD): 0.487775
Market Cap (USD): 338095397
24h Volume (USD): 6394698
Circulating Supply: 693121119.9637812
Total Supply: 1000000000.0
Max Supply: 1000000000.0
Fully Diluted Valuation (USD): 487786892
Total Value Locked (USD): 9190493
Market Cap to TVL Ratio: 36.79
Price Change % (24h): -1.2916
Price Change % (7d): -6.72772
Number of Exchanges: 100
Sample Exchange: Bitget - RON / USDT

### _Fetching data for Top Game Contracts Overall Activity from https://dune.com/queries/5779698_

In [11]:
### _Fetching data for Top Game Contracts Overall Activity from https://dune.com/queries/5779698_

dune = DuneClient(dune_api_key)
query_result = dune.get_latest_result(5779698)

rows = query_result.result.rows

data1 = pd.DataFrame(rows)

joblib.dump(data1, "../data/games_overall_activity.joblib")

['../data/games_overall_activity.joblib']

In [12]:
overall_df = joblib.load("../data/games_overall_activity.joblib")

overall_df

,avg_gas_price_in_gwei,game_project,total_volume_ron_sent_to_game,transaction_count,unique_players
0,24.971325,Pixels,167.028604,234593957,10825826
1,7.946293,Axie Infinity,160509.063792,193569800,8894989
2,18.361983,Lumiterra,1.860900,39662389,2325858
3,19.923089,Wild Forest,0.010100,24320562,888907
4,20.373741,The Machines Arena,0.000000,30578989,385842
5,19.966154,Apeiron,0.000000,33972270,305351
6,19.548229,Ragnarok: Monster World,58.259846,3269359,222607
7,20.000000,Fableborne,0.000000,7062393,110278
8,20.427206,Kongz,255195.704884,1121236,97199
9,20.871769,Pixel HeroZ,3210.715731,1418253,51965
10,21.567664,Fishing Frenzy,1.107159,1475394,43461
11,23.487094,Ronkeverse,192.000000,29007,20199
12,20.522718,Moki Genesis,0.000000,29165,14965
13,23.788180,Sabong Saga,50.400000,45748,10138
14,25.339320,Kaidro,0.000000,9442989,6241
15,23.884668,Cambria,479298.366133,226992,3970
16,25.764620,Mark of the Zeal,150.000000,3324,2147
17,25.125425,KttyWorld,27950.100000,97686,1945
18,25.476405,Planet Horse,75.000000,17586,1829
19,21.067423,Kojin Genesis,0.000000,739,328

### _Fetching data for Top Game Contracts Daily Activity from https://dune.com/queries/5781579_

In [13]:
### _Fetching data for Top Game Contracts Daily Activity from https://dune.com/queries/5781579_

dune2 = DuneClient(dune_api_key)
query_result2 = dune2.get_latest_result(5781579)

rows = query_result2.result.rows

data2 = pd.DataFrame(rows)

joblib.dump(data2, "../data/games_daily_activity.joblib")

['../data/games_daily_activity.joblib']

In [14]:
daily_df = joblib.load("../data/games_daily_activity.joblib")

daily_df

,avg_gas_price_in_gwei,day,game_project,total_volume_ron_sent_to_game,transaction_count,unique_players
0,27.613256,2025-09-07 00:00:00.000 UTC,Pixels,0.0,24363,23591
1,22.107143,2025-09-07 00:00:00.000 UTC,Sabong Saga,0.0,56,34
2,21.733171,2025-09-07 00:00:00.000 UTC,Ronkeverse,0.0,22,22
3,21.500000,2025-09-07 00:00:00.000 UTC,Mark of the Zeal,0.0,2,2
4,21.500000,2025-09-07 00:00:00.000 UTC,Moki Genesis,0.0,2,1
...,...,...,...,...,...,...
7703,0.592051,2021-05-02 00:00:00.000 UTC,Axie Infinity,0.0,9511,545
7704,0.559360,2021-05-01 00:00:00.000 UTC,Axie Infinity,0.0,9931,538
7705,0.456713,2021-04-30 00:00:00.000 UTC,Axie Infinity,0.0,11909,690
7706,0.557256,2021-04-29 00:00:00.000 UTC,Axie Infinity,0.0,11824,510
7707,0.654536,2021-04-28 00:00:00.000 UTC,Axie Infinity,0.0,3682,71

### _Fetching data for Daily Ronin Transactions, Active users/wallets, and Gas fees (GWEI) from https://dune.com/queries/5779439_

In [15]:
### _Fetching data for Daily Ronin Transactions, Active users/wallets, and Gas fees (GWEI) from https://dune.com/queries/5779439_

dune3 = DuneClient(dune_api_key)
query_result3 = dune3.get_latest_result(5779439)

rows = query_result3.result.rows

data3 = pd.DataFrame(rows)

joblib.dump(data3, "../data/ronin_daily_activity.joblib")

['../data/ronin_daily_activity.joblib']

In [16]:
ronin_daily_df = joblib.load("../data/ronin_daily_activity.joblib")

ronin_daily_df

,active_wallets,avg_gas_price_in_gwei,daily_transactions,day
0,234120,21.140833,498841,2025-09-07 00:00:00.000 UTC
1,285517,21.151198,730543,2025-09-06 00:00:00.000 UTC
2,288047,20.848433,661716,2025-09-05 00:00:00.000 UTC
3,283809,21.743497,694224,2025-09-04 00:00:00.000 UTC
4,284033,20.993838,905547,2025-09-03 00:00:00.000 UTC
...,...,...,...,...
1680,2,1.000000,2,2021-01-29 00:00:00.000 UTC
1681,1,1.000000,4,2021-01-28 00:00:00.000 UTC
1682,2,0.005634,355,2021-01-27 00:00:00.000 UTC
1683,5,0.000000,12,2021-01-26 00:00:00.000 UTC
1684,2,0.090909,11,2021-01-25 00:00:00.000 UTC

### _Fetching data for Ronin User/Gamer Weekly Activation and Retention for each project/game from https://dune.com/queries/5783320_

In [17]:
### _Fetching data for Ronin User/Gamer Weekly Activation and Retention for each project/game from https://dune.com/queries/5783320_

dune4 = DuneClient(dune_api_key)
query_result4 = dune4.get_latest_result(5783320)

rows = query_result4.result.rows

data4 = pd.DataFrame(rows)

joblib.dump(data4, "../data/ronin_users_weekly_activation_and_retention_for_each_project_or_game.joblib")

['../data/ronin_users_weekly_activation_and_retention_for_each_project_or_game.joblib']

In [18]:
activation_and_retention_df = joblib.load("../data/ronin_users_weekly_activation_and_retention_for_each_project_or_game.joblib")

activation_and_retention_df

,% retention 1 week later,% retention 10 weeks later,% retention 11 weeks later,% retention 12 weeks later,% retention 2 weeks later,% retention 3 weeks later,% retention 4 weeks later,% retention 5 weeks later,% retention 6 weeks later,% retention 7 weeks later,% retention 8 weeks later,% retention 9 weeks later,cohort week,game_project,new users
0,NaN,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-06-23 00:00:00.000 UTC,Apeiron,1
1,40.000000,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-06-30 00:00:00.000 UTC,Apeiron,5
2,23.076923,NaN,None,None,23.076923,30.769231,23.076923,23.076923,23.076923,23.076923,23.076923,NaN,2025-07-07 00:00:00.000 UTC,Apeiron,13
3,25.000000,NaN,None,None,25.000000,25.000000,12.500000,12.500000,12.500000,NaN,NaN,NaN,2025-07-14 00:00:00.000 UTC,Apeiron,8
4,NaN,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-21 00:00:00.000 UTC,Apeiron,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,55.303030,NaN,None,None,48.484848,43.181818,40.151515,NaN,NaN,NaN,NaN,NaN,2025-08-04 00:00:00.000 UTC,Wild Forest,132
231,47.435897,NaN,None,None,35.897436,30.769231,NaN,NaN,NaN,NaN,NaN,NaN,2025-08-11 00:00:00.000 UTC,Wild Forest,78
232,71.428571,NaN,None,None,63.492063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-08-18 00:00:00.000 UTC,Wild Forest,63
233,59.375000,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-08-25 00:00:00.000 UTC,Wild Forest,32
234,NaN,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-01 00:00:00.000 UTC,Wild Forest,37

### _Fetching data for RON/WRON current holders from https://dune.com/queries/5783623_

In [19]:
### _Fetching data for RON/WRON current holders from https://dune.com/queries/5783623_

dune5 = DuneClient(dune_api_key)
query_result5 = dune5.get_latest_result(5783623)

rows = query_result5.result.rows

data5 = pd.DataFrame(rows)

joblib.dump(data5, "../data/ron_current_holders.joblib")

['../data/ron_current_holders.joblib']

In [20]:
ron_current_holders_df = joblib.load("../data/ron_current_holders.joblib")

ron_current_holders_df

       current $RON balance                                      wallet
0              1.143764e+08  0x7cf0fb64d72b733695d77d197c664e90d07cf45a
1              2.872437e+07  0x7c645c35ab772be52a474b1e08414d55e8ea56d5
2              2.748133e+07  0xc05afc8c9353c1dd5f872eccfacd60fd5a2a9ac7
3              1.269049e+07  0x90f31f1907a4d1443a6aacdc91ac2312f91bafa7
4              1.268622e+07  0xcad9e7aa2c3ef07bad0a7b69f97d059d8f36edd2
...                     ...                                         ...
16827          1.000000e-18  0x643303a680f78ea0916948a1bc287862c7977b80
16828          1.000000e-18  0x6bc19ddb3c7d3908d12904213d64941216212766
16829          1.000000e-18  0x3f31b72462e1111b9b0a3df755e22aba9a00738c
16830          1.000000e-18  0xf5878907ae029b18fc37e22b3eba2dbf87cdd298
16831          1.000000e-18  0xed36a10c2eac17d1b4ee15330b6c075c48996bb3

[16832 rows x 2 columns]

### _Fetching data for RON/WRON current holders (segmented) from https://dune.com/queries/5785491_

In [21]:
### _Fetching data for RON/WRON current holders (segmented) from https://dune.com/queries/5785491_

dune6 = DuneClient(dune_api_key)
query_result6 = dune6.get_latest_result(5785491)

rows = query_result6.result.rows

data6 = pd.DataFrame(rows)

joblib.dump(data6, "../data/ron_current_segmented_holders.joblib")

['../data/ron_current_segmented_holders.joblib']

In [22]:
ron_current_segmented_holders_df = joblib.load("../data/ron_current_segmented_holders.joblib")

ron_current_segmented_holders_df

   holders                       tier
0       17         🐋 Whale (1M+ $RON)
1       25     🦈 Shark (100k–1M $RON)
2      135  🐬 Dolphin (10k–100k $RON)
3      710       🐟 Fish (1k–10k $RON)
4     3374       🦀 Crab (100–1k $RON)
5    12571       🦐 Shrimp (<100 $RON)

In [23]:
ron_current_segmented_holders_df['holders'].sum()

np.int64(16832)

### _Fetching data for WRON Active Trade pairs on Katana DEX - Ronin (metrics overtime) from https://dune.com/queries/5783967_

In [24]:
### _Fetching data for WRON Active Trade pairs on Katana DEX - Ronin (metrics overtime) from https://dune.com/queries/5783967_

dune7 = DuneClient(dune_api_key)
query_result7 = dune7.get_latest_result(5783967)

rows = query_result7.result.rows

data7 = pd.DataFrame(rows)

joblib.dump(data7, "../data/wron_active_trade_pairs_on_Katana.joblib")

['../data/wron_active_trade_pairs_on_Katana.joblib']

In [25]:
wron_active_trade_pairs_df = joblib.load("../data/wron_active_trade_pairs_on_Katana.joblib")

wron_active_trade_pairs_df

,Active Pairs,Active Pairs Link,Active Traders,Total Trade Volume (USD),Total Transactions,Volume to trader ratio,Volume to transaction ratio
0,WETH-WRON,<a href=https://app.roninchain.com/address/0x2...,682177,2.250385e+09,5003783,3.298829e+03,4.497368e+02
1,USDC-WRON,<a href=https://app.roninchain.com/address/0x4...,302174,1.496903e+09,3089292,4.953779e+03,4.845457e+02
2,AXS-WRON,<a href=https://app.roninchain.com/address/0x3...,208567,7.156556e+08,2313937,3.431298e+03,3.092805e+02
3,SLP-WRON,<a href=https://app.roninchain.com/address/0x8...,181678,3.894693e+08,1337733,2.143734e+03,2.911413e+02
4,PIXEL-WRON,<a href=https://app.roninchain.com/address/0xb...,274845,1.687680e+08,1143258,6.140477e+02,1.476202e+02
...,...,...,...,...,...,...,...
631,CaptainRON-WRON,<a href=https://app.roninchain.com/address/0x4...,1,9.249120e-10,1,9.249120e-10,9.249120e-10
632,RONAPE-WRON,<a href=https://app.roninchain.com/address/0x5...,1,9.249120e-10,1,9.249120e-10,9.249120e-10
633,SBTC-WRON,<a href=https://app.roninchain.com/address/0x4...,1,4.376106e-18,1,4.376106e-18,4.376106e-18
634,ONIGIRI-WRON,<a href=https://app.roninchain.com/address/0xc...,1,9.471680e-19,2,9.471680e-19,4.735840e-19
635,LWTS-WRON,<a href=https://app.roninchain.com/address/0xb...,1,9.273050e-19,1,9.273050e-19,9.273050e-19

### _Fetching data for Top WRON Katana DEX Traders (Whale Tracking - whales trading above $10,000) in the last 30 days from https://dune.com/queries/5784215_

In [26]:
### _Fetching data for Top WRON Katana DEX Traders (Whale Tracking - whales trading above $10,000) in the last 30 days from https://dune.com/queries/5784215_

dune8 = DuneClient(dune_api_key)
query_result8 = dune8.get_latest_result(5784215)

rows = query_result8.result.rows

data8 = pd.DataFrame(rows)

joblib.dump(data8, "../data/wron_whale_tracking_on_Katana.joblib")

['../data/wron_whale_tracking_on_Katana.joblib']

In [27]:
wron_whale_tracking_on_Katana_df = joblib.load("../data/wron_whale_tracking_on_Katana.joblib")

wron_whale_tracking_on_Katana_df

,avg trade size (USD),largest trade volume (USD),primary activity,total trade volume (USD),total trades,"trader (whale) who traded over $10,000 in the last 30 days"
0,23190.942241,56144.400000,WRON Seller,3.038013e+06,122,0x68de5555667119f470ef23625fc2bfd789c3036b
1,949.894135,12551.829540,WRON Seller,3.006415e+06,2722,0x920c267ed50fd5e5e79d68130e39bceb2541a994
2,692.341122,17711.323960,WRON Buyer,2.529814e+06,2789,0x920c267ed50fd5e5e79d68130e39bceb2541a994
3,16750.569421,55985.200000,WRON Seller,2.278077e+06,128,0xd53000053e91597add02e491536628c40c9072d8
4,36518.849443,278933.000000,WRON Seller,2.191131e+06,59,0x018cc4af7a9442aae70f64bd6f44941c7718b4f7
...,...,...,...,...,...,...
280,263.511037,1208.036951,WRON Buyer,1.027693e+04,26,0x0be8ad2dfee7f1a3fd8f7af66b4ac6e92f31d219
281,36.089764,1575.508436,WRON Seller,1.017731e+04,177,0xc2b6e057b24199364c1c114022f8edf42a644f0a
282,5083.865899,5092.970158,WRON Seller,1.016773e+04,2,0x2162a842b75d04837768ed7a181f286e68401e26
283,163.172103,1125.966903,WRON Seller,1.011667e+04,38,0x33253882a1ab663c383242f209df6ad761591209
284,1440.142912,4617.058895,WRON Buyer,1.008100e+04,5,0xe0a20b13952692bd13924fd9d0048c3b20e13262

### _Fetching data for Daily WRON Trading Volume & Liquidity Flow (with paired token details + share % on Katana DEX) from https://dune.com/queries/5784210_

In [28]:
### _Fetching data for Daily WRON Trading Volume & Liquidity Flow (with paired token details + share % on Katana DEX) from https://dune.com/queries/5784210_

dune9 = DuneClient(dune_api_key)
query_result9 = dune9.get_latest_result(5784210)

rows = query_result9.result.rows

data9 = pd.DataFrame(rows)

joblib.dump(data9, "../data/WRON_Trading_Volume_&_Liquidity_Flow_on_Katana.joblib")

['../data/WRON_Trading_Volume_&_Liquidity_Flow_on_Katana.joblib']

In [29]:
WRON_Trading_Volume_Liquidity_Flow_on_Katana_df = joblib.load("../data/WRON_Trading_Volume_&_Liquidity_Flow_on_Katana.joblib")

WRON_Trading_Volume_Liquidity_Flow_on_Katana_df

,Counterparty Token Symbol,Counterparty Token Volume,Daily % Share of WRON Volume (by Counterparty Token),Number of Trades,Number of Unique Traders,Trade Day,WRON Trade Direction,WRON Volume (Tokens),WRON Volume (USD)
0,USDC,7.967094e+04,27.499187,933,469,2025-09-07,WRON Bought,168921.605152,79638.799562
1,WETH,1.778632e+01,26.396160,408,340,2025-09-07,WRON Bought,162080.443685,76444.386372
2,AXS,3.106361e+04,25.997342,1378,967,2025-09-07,WRON Bought,159643.565801,75289.393521
3,SLP,6.179380e+06,3.659141,386,316,2025-09-07,WRON Bought,22502.051018,10597.026796
4,Ronke,3.928405e+06,3.577285,112,76,2025-09-07,WRON Bought,21976.177271,10359.968293
...,...,...,...,...,...,...,...,...,...
12013,🍙,2.318089e+05,0.000030,4,2,2025-06-18,WRON Sold,0.751234,0.355842
12014,Cryptoxxx,1.932610e+05,0.000015,2,1,2025-06-18,WRON Sold,0.375018,0.173903
12015,💎🙌,4.937019e+03,0.000008,2,1,2025-06-18,WRON Sold,0.195925,0.092940
12016,MMGA,3.523060e+04,0.000007,2,1,2025-06-18,WRON Sold,0.182284,0.083992
12017,ABDUL,3.004629e+04,0.000003,3,1,2025-06-18,WRON Sold,0.074131,0.035087

### _Fetching data for WRON Trading Activity by Hour of Day on Katana DEX from https://dune.com/queries/5785066_

In [30]:
### _Fetching data for WRON Trading Activity by Hour of Day on Katana DEX from https://dune.com/queries/5785066_

dune10 = DuneClient(dune_api_key)
query_result10 = dune10.get_latest_result(5785066)

rows = query_result10.result.rows

data10 = pd.DataFrame(rows)

joblib.dump(data10, "../data/WRON_Trading_by_hour_of_day_on_Katana.joblib")

['../data/WRON_Trading_by_hour_of_day_on_Katana.joblib']

In [31]:
WRON_Trading_by_hour_of_day_on_Katana_df = joblib.load("../data/WRON_Trading_by_hour_of_day_on_Katana.joblib")

WRON_Trading_by_hour_of_day_on_Katana_df

,avg trade size (USD),direction,hour of the day (UTC),trade volume (USD),trades count,unique traders
0,16.354764,WRON Bought,2025-08-17 00:00:00.000 UTC,4415.786298,238,166
1,174.727696,WRON Sold,2025-08-17 00:00:00.000 UTC,61154.693570,318,223
2,28.240760,WRON Bought,2025-08-17 01:00:00.000 UTC,6834.263928,217,171
3,66.897346,WRON Sold,2025-08-17 01:00:00.000 UTC,23949.249928,328,260
4,26.445923,WRON Bought,2025-08-17 02:00:00.000 UTC,7960.222815,270,170
...,...,...,...,...,...,...
1033,19.456269,WRON Sold,2025-09-07 12:00:00.000 UTC,10156.172365,420,296
1034,46.922653,WRON Bought,2025-09-07 13:00:00.000 UTC,17924.453575,342,262
1035,26.952051,WRON Sold,2025-09-07 13:00:00.000 UTC,12775.271974,436,327
1036,36.885022,WRON Bought,2025-09-07 14:00:00.000 UTC,11913.862042,303,212
1037,26.213437,WRON Sold,2025-09-07 14:00:00.000 UTC,10642.655513,372,280

### _Fetching data for weekly WRON Trade Volume & User Segmentation on Katana DEX from https://dune.com/queries/5785149_

In [32]:
### _Fetching data for weekly WRON Trade Volume & User Segmentation on Katana DEX from https://dune.com/queries/5785149_

dune11 = DuneClient(dune_api_key)
query_result11 = dune11.get_latest_result(5785149)

rows = query_result11.result.rows

data11 = pd.DataFrame(rows)

joblib.dump(data11, "../data/WRON_weekly_trade_volume_and_user_segmentation_on_Katana.joblib")

['../data/WRON_weekly_trade_volume_and_user_segmentation_on_Katana.joblib']

In [33]:
WRON_weekly_trade_volume_and_user_segmentation_on_Katana_df = joblib.load("../data/WRON_weekly_trade_volume_and_user_segmentation_on_Katana.joblib")

WRON_weekly_trade_volume_and_user_segmentation_on_Katana_df

,Amount Category,USD Volume,Weekly active users,trade week
0,Small trades,9.402513e+05,6685,2025-09-01 00:00:00.000 UTC
1,High value trades,5.992146e+06,53,2025-09-01 00:00:00.000 UTC
2,Medium value trades,1.018885e+07,1662,2025-09-01 00:00:00.000 UTC
3,Micro trades,2.358953e+05,21074,2025-09-01 00:00:00.000 UTC
4,Hyper value trades,8.350501e+06,1742,2025-09-01 00:00:00.000 UTC
...,...,...,...,...
998,Small trades,4.554922e+06,56457,2021-11-01 00:00:00.000 UTC
999,High value trades,1.124662e+08,2866,2021-11-01 00:00:00.000 UTC
1000,Medium value trades,1.233201e+08,102862,2021-11-01 00:00:00.000 UTC
1001,Micro trades,1.145293e+05,17921,2021-11-01 00:00:00.000 UTC
1002,Hyper value trades,2.597501e+08,294,2021-11-01 00:00:00.000 UTC

### _Fetching data for Nft Collections on Sky Mavis from https://dune.com/queries/5792320_

In [34]:
### _Fetching data for Nft Collections on Sky Mavis from https://dune.com/queries/5792320_

dune12 = DuneClient(dune_api_key)
query_result12 = dune12.get_latest_result(5792320)

rows = query_result12.result.rows

data12 = pd.DataFrame(rows)

joblib.dump(data12, "../data/nft_collections_on_sky_mavis.joblib")

['../data/nft_collections_on_sky_mavis.joblib']

In [35]:
nft_collections_on_sky_mavis = joblib.load("../data/nft_collections_on_sky_mavis.joblib")

nft_collections_on_sky_mavis

,floor_ron,floor_usd,holders,nft_contract_address,platform_ron,platform_usd,ronin_ron,ronin_usd,royalty_ron,royalty_usd,sales,token_standard,volume_ron,volume_usd
0,3.584595,3.838064,1319,0x924f2f3d25a3ee2902b601a21d4dd22cf5669d60,2663.925014,1950.954209,665.981253,487.738552,95782.914734,76824.032774,3479,erc721,1.331963e+05,9.754771e+04
1,49.700000,25.812192,33,0x407ceab63f4a2fe85614a726570e78f97f20dac9,43.093420,21.975748,10.773355,5.493937,119.733170,61.178434,34,erc721,2.154671e+03,1.098787e+03
2,350.084653,208.030317,508,0x3fa1e076bd4e7f4b7469ad1646332c09b275082d,7846.660094,6373.881697,1961.665023,1593.470424,9808.325117,7967.352122,868,erc721,3.923330e+05,3.186941e+05
3,34.128024,18.136553,1648,0x86c653fc405e03ebc0c6510efd3ab5a49e00d530,2028.332667,1094.122078,507.083167,273.530519,5070.831666,2735.305195,1604,erc721,1.014166e+05,5.470610e+04
4,79.273073,60.091340,2887,0xb806028b6ebc35926442770a8a8a7aeab6e2ce5c,24603.157309,48995.124976,6150.789327,12248.781244,56629.037812,119458.756717,5194,erc721,1.230158e+06,2.449756e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,22.000000,10.342332,161,0x03b0ae0d3bf9813e875cc0f958bf74644259315f,9.959000,5.216937,2.489750,1.304234,12.448750,6.521171,17,erc1155,4.979500e+02,2.608468e+02
203,0.050000,0.034600,183,0xbf0812c6813cf42f63cb5d773b61b91610122520,0.905166,1.404009,0.226291,0.351002,1.131457,1.755012,109,erc1155,4.525830e+01,7.020047e+01
204,35.000000,17.919458,55,0x275a414e6004e4d5756fbac42c628bb0e51a1013,61.844400,38.508624,15.461100,9.627156,224.016499,139.763788,55,erc1155,3.092220e+03,1.925431e+03
205,2.000000,1.001508,37,0x462e9f162e0be57ebf3bf1b96f22202394535dce,1.195600,0.620077,0.298900,0.155019,4.184600,2.170269,13,erc1155,5.978000e+01,3.100385e+01
206,5.000000,2.443470,23,0x732da1c5aeaae9a8ba79ab79853d2b81b1e8d0f3,0.100000,0.048869,0.025000,0.012217,0.250000,0.122174,1,erc1155,5.000000e+00,2.443470e+00

In [36]:
nft_collections_on_sky_mavis.rename(columns={'floor_ron': 'floor price (RON)', 
                                             'floor_usd': 'floor price (USD)', 
                                             'platform_ron': 'generated platform fees (RON)', 
                                             'platform_usd': 'generated platform fees (USD)',
                                             'volume_ron': 'sales volume (RON)',
                                             'volume_usd': 'sales volume (USD)',
                                             'royalties_ron': 'creator royalties (RON)',
                                             'royalties_usd': 'creator royalties (USD)',
                                             'ronin_ron': 'generated Ronin fees (RON)', 
                                             'ronin_usd': 'generated Ronin fees (USD)',
                                             'nft_contract_address': 'nft contract address',
                                             'token_standard': 'token standard'}, 
    inplace=True)

In [37]:
nft_collections_on_sky_mavis

,floor price (RON),floor price (USD),holders,nft contract address,generated platform fees (RON),generated platform fees (USD),generated Ronin fees (RON),generated Ronin fees (USD),royalty_ron,royalty_usd,sales,token standard,sales volume (RON),sales volume (USD)
0,3.584595,3.838064,1319,0x924f2f3d25a3ee2902b601a21d4dd22cf5669d60,2663.925014,1950.954209,665.981253,487.738552,95782.914734,76824.032774,3479,erc721,1.331963e+05,9.754771e+04
1,49.700000,25.812192,33,0x407ceab63f4a2fe85614a726570e78f97f20dac9,43.093420,21.975748,10.773355,5.493937,119.733170,61.178434,34,erc721,2.154671e+03,1.098787e+03
2,350.084653,208.030317,508,0x3fa1e076bd4e7f4b7469ad1646332c09b275082d,7846.660094,6373.881697,1961.665023,1593.470424,9808.325117,7967.352122,868,erc721,3.923330e+05,3.186941e+05
3,34.128024,18.136553,1648,0x86c653fc405e03ebc0c6510efd3ab5a49e00d530,2028.332667,1094.122078,507.083167,273.530519,5070.831666,2735.305195,1604,erc721,1.014166e+05,5.470610e+04
4,79.273073,60.091340,2887,0xb806028b6ebc35926442770a8a8a7aeab6e2ce5c,24603.157309,48995.124976,6150.789327,12248.781244,56629.037812,119458.756717,5194,erc721,1.230158e+06,2.449756e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,22.000000,10.342332,161,0x03b0ae0d3bf9813e875cc0f958bf74644259315f,9.959000,5.216937,2.489750,1.304234,12.448750,6.521171,17,erc1155,4.979500e+02,2.608468e+02
203,0.050000,0.034600,183,0xbf0812c6813cf42f63cb5d773b61b91610122520,0.905166,1.404009,0.226291,0.351002,1.131457,1.755012,109,erc1155,4.525830e+01,7.020047e+01
204,35.000000,17.919458,55,0x275a414e6004e4d5756fbac42c628bb0e51a1013,61.844400,38.508624,15.461100,9.627156,224.016499,139.763788,55,erc1155,3.092220e+03,1.925431e+03
205,2.000000,1.001508,37,0x462e9f162e0be57ebf3bf1b96f22202394535dce,1.195600,0.620077,0.298900,0.155019,4.184600,2.170269,13,erc1155,5.978000e+01,3.100385e+01
206,5.000000,2.443470,23,0x732da1c5aeaae9a8ba79ab79853d2b81b1e8d0f3,0.100000,0.048869,0.025000,0.012217,0.250000,0.122174,1,erc1155,5.000000e+00,2.443470e+00

In [38]:
joblib.dump(nft_collections_on_sky_mavis, "../data/cleaned_nft_collections_on_sky_mavis.joblib")

['../data/cleaned_nft_collections_on_sky_mavis.joblib']